* {
    font-family: Inter, sans-serif;
}

.icon {
    width: 2rem;
    height: 2rem;
}


/* Menu header */

nav {
    margin: 0 .5rem;
}

nav a {
    font-weight: bold;
    color: #2c3e50;
}

nav a.router-link-exact-active {
    color: #ff0000;
}

.menuHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #D9D9D9;
    margin-bottom: 3rem;
}

.title {
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    margin: 1rem;
}

.menuHeader .buttonsMenu {
    padding: .5rem;
}

.menuHeader .buttonsMenu a {
    margin: 0 .3rem;
}


/* Page Home */

.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}

.iconsGithub {
    width: 8%;
    padding-bottom: 3rem;
}

.iconsGithub img {
    width: 100%;
}

.buttons {
    width: 50%;
    margin-bottom: 2rem;
}

.button-choose {
    width: 186px;
    height: 51px;
    left: 745px;
    top: 379px;
    background: #FFFFFF;
    border: 2px solid #000000;
    border-radius: 5px;
}

.buttonSelected {
    color: #ffffff;
    background: #000000;
}

.buttons button {
    margin: 0 5rem
}

.inputSearch {
    width: 50%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    height: 3em;
    left: 330px;
    top: 476px;
    box-sizing: border-box;
    border: 2px solid #000000;
    background: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inputHome {
    width: 100%;
    height: 100%;
    border-color: transparent;
    border-radius: 10px;
}

.button-icon {
    width: 8%;
    height: 100%;
    background: transparent;
    border-radius: 0 10px 10px 0;
    border: 0px transparent;
}

@media only screen and (max-width: 1000px) {
    .iconsGithub {
        width: 5rem;
    }
}


/* page Result */

.pageResult {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

.result {
    margin: 0 0 2rem 2rem;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    max-width: 95%;
}

.avatar {
    width: 10rem;
    height: 10rem;
    border-radius: 5px;
    margin: 1rem
}

.infoUser {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}


/* Page SelectUser  */

.border-solid {
    border: solid 1px black;
}

.userInfo {
    background: #D9D9D9;
    border-radius: 5px;
}

.avatarUser {
    filter: drop-shadow(0px 0px 4px #000000);
    border-radius: 5px;
    margin: 1rem;
    width: 15rem;
}

.alignInfoUser {
    display: flex !important;
    flex-direction: column !important;
    align-items: flex-start !important;
}